<.order_modal order={@order} />

<form phx-change="change_wait_time" phx-submit="confirm_order">
  <div class="mt-10 flex flex-col text-base font-medium text-gray-900 mb-4">
    <label for="wait_time" class="block text-sm font-medium leading-6 text-gray-900">Estimated Prep and Wait time (in minutes)<span class="text-red-500">*</span></label>
    <div class="mt-2">
      <div class="flex w-full rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
        <input name="order_id" value={@order.id} type="hidden" class="hidden" />
        <input
          phx-blur="change_wait_time"
          type="number"
          name="wait_time"
          autocomplete="minutes"
          min="1"
          class="block flex-1 border-0 bg-transparent py-1.5 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
          value={@wait_time}
        >
      </div>
    </div>
    <div class="mt-6">
      <button
        type="submit"
        disabled={@invalid_wait_time}
        class="flex items-center w-full justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 disabled:bg-gray-400 disabled:cursor-not-allowed"
      >
        <.icon name="hero-check" class="mr-2" />
        Confirm Wait Time and Start Preparing Order
      </button>
    </div>
    <div class="mt-6 gap-y-6 flex flex-col justify-center text-center text-sm text-gray-500">
      <p>
        or
      </p>
      <button
        phx-click={JS.dispatch("confirm_cancel_order")}
        phx-cancel-order={hide_modal("pending-order-modal-#{@order.id}")}
        phx-value={@order.id}
        type="button"
        class="flex items-center w-full justify-center rounded-md border border-transparent px-6 py-3 text-base font-medium text-white shadow-sm bg-red-600 hover:bg-red-700"
      >
        <.icon name="hero-x-mark" class="mr-2" />
        Cancel Order
      </button>
    </div>
  </div>
</form>
