@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

.header-bg {
  background: url("../images/header-bg.jpg") no-repeat center center fixed;
  background-color: black;
  background-size: cover;
}
/* This file is for your main application CSS */
