<div class="flex justify-center min-h-screen bg-purple-200" phx-hook="UserDashboard" id="UserDashboard">
  <!-- component -->
  <div class="flex mt-10 justify-center h-0">
    <ul class="mx-auto grid max-w-full w-full grid-cols-4 gap-x-5 px-8 h-0">
      <.orders_tab
        status="pending"
        orders={@pending_orders}
        empty_orders_message="No pending orders to be confirmed."
        checked={true}
      />

      <.orders_tab
        status="preparing"
        orders={@preparing_orders}
        empty_orders_message="No orders are being prepared right now."
      />

      <.orders_tab
        status="done"
        orders={@done_orders}
        empty_orders_message="No orders have been completed yet."
      />

      <.orders_tab
        status="cancelled"
        orders={@cancelled_orders}
        empty_orders_message="No orders have been cancelled yet."
      />
    </ul>
  </div>
</div>

<%= for pending_order <- @pending_orders do %>
  <.modal id={"pending-order-modal-#{pending_order.id}"}>
    <.pending_order_modal order={pending_order} wait_time={@wait_time} invalid_wait_time={@invalid_wait_time} />
  </.modal>
<% end %>

<%= for preparing_order <- @preparing_orders do %>
  <.modal id={"preparing-order-modal-#{preparing_order.id}"}>
    <.preparing_order_modal order={preparing_order} />
  </.modal>
<% end %>

<%= for done_order <- @done_orders do %>
  <.modal id={"done-order-modal-#{done_order.id}"}>
    <.order_modal order={done_order} />
  </.modal>
<% end %>

<%= for cancelled_order <- @cancelled_orders do %>
  <.modal id={"cancelled-order-modal-#{cancelled_order.id}"}>
    <.order_modal order={cancelled_order} />
  </.modal>
<% end %>
